Capital Markets Scraping - <%=@ticker%>:
<hr>
<table>
<tr>
  <td>
    Company Name
  </td>
  <td>
    CIK
  </td>
  <td>
    Owner Name
  </td>
  <td>
    Title
  </td>
  <td>
    Transaction Date
  </td>

</tr>
<%@filing_info.each do |foo|%>
<tr>
  <td>
    <%=foo[:companyName]%>
  </td>
  <td>
    <%=foo[:companyCIK]%>
  </td>
  <td>
    <%=foo[:rptOwnerName]%>
  </td>

  <td>
    <%=foo[:officerTitle]%>
  </td>
  <td>
    <%=foo[:transactionDate]%>
  </td>
  
  
</tr>
<%end%>

</table>